.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top: 20px;
  }
.card{
    flex:1;
}
.card a:hover{
    text-decoration: none;
}
.button-flex {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
