.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-top: 20px;
  }
.card{
    flex:1;
}
.card a:hover{
    text-decoration: none;
}
.button-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    width: 30%;
    margin: auto;
}
