<div>
  <button mat-raised-button color="primary" *ngIf="showQuesButton" (click)="showQuestions()">Show Questions</button><br><br>
  <div *ngIf="showTimer" class="badge">Time: {{counter}}</div>
  <!--<mat-progress-bar mode="determinate" value="20"></mat-progress-bar> -->
  <div *ngIf="showProgressBar">
  <section class="progressbar-section">
    <mat-progress-bar mode="determinate"
        class="progressbar-margin"
        [value]="value">
    </mat-progress-bar>
  </section> 
</div>
  <div *ngIf="counter>=1" class="question">
    <h4>{{currentQuestion?.problemStatement}}</h4>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedOption">
      <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o.id">
        {{o.content}}
      </mat-radio-button>
    </mat-radio-group>
    <p class="example-selected-value">{{selectedOption}}</p>
  </div>
  <button mat-raised-button color="primary" *ngIf="showNextButton" (click)="nextQuestion()">Next</button>
</div>
<a routerLink="/result" routerLinkActive="active" button mat-raised-button color="primary" *ngIf="callResult" > Show Results</a>
<!--  <countdown [config]="{leftTime: 30}"></countdown> -->